@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700');

.copyright {
  background-color: #1a252f;
  font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 25px;
}

.logo img {
	display: inline-block;
}

header.masthead {
	margin-bottom:50px;
	background:no-repeat center center;
	background-color:#868e96;
	background-attachment:scroll;
	position:relative;
	background-size:cover
}

header.masthead .overlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	background-color:#212529;
	opacity:.5
}

header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading {
	padding:200px 0 150px;
	color:#fff
}

@media only screen and (min-width:768px){

 header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading {
	padding:200px 0
 }
}

header.masthead .page-heading,header.masthead .site-heading {
	text-align:center
}

header.masthead .page-heading h1,header.masthead .site-heading h1 {
	font-size:50px;
	margin-top:0
}

header.masthead .page-heading .subheading,header.masthead .site-heading .subheading {
	font-size:24px;
	font-weight:300;
	line-height:1.1;
	display:block;
	margin:10px 0 0;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

@media only screen and (min-width:768px) {

 header.masthead .page-heading h1,header.masthead .site-heading h1 {
	font-size:80px
 }
}

.boxes .card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px 40px 10px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

.boxes .card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.boxes .card-title a {
  color: #111;
}

.boxes .card:hover .card-title a {
  color: #007bff;
  text-decoration: none;
}

.boxes .card-img-top {
  height: 250px;
}

.btn {
	font-size:14px;
	font-weight:800;
	padding:15px 25px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:10px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}

.boxes p {
  padding: 0;
  margin: 0 0 30px 0;
}

.boxes h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}